@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

:root {
  --primary-color: #00bfff;
}

.button {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1rem;
    padding: 12px 24px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
  }
  
  .button:hover {
    background-color: var(--primary-color);
    color: #000;
  }
  